<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyFirstBoard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="/css/post-list.css" rel="stylesheet" type="text/css">

</head>

<body>
  <nav th:replace="~{fragment/nav :: navbar}"></nav>

  <div class="container">
    <h1 style="margin: 20px 0"> 자유 게시판 </h1>

    <div class="d-flex flex-row-reverse mx-3 px-1">
      <button type="button" class="btn btn-primary"
              onclick="location.href='postWrite.html'"
              th:onclick="|location.href='@{/board/free/write}'|"
      >
        글쓰기
      </button>
    </div>


    <table class="table postlist-table">
      <thead>
      <tr>
        <th class="postlist-id-td">글 번호</th>
        <th class="postlist-title-td">제목</th>
        <th class="postlist-writer-td">작성자</th>
        <th class="postlist-date-td">작성일</th>
        <th class="postlist-hit-td">조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${postList}">
        <td class="postlist-id-td" th:text="${post.id}"> </td>
        <td class="postlist-title-td"> <a th:text="${post.title}" th:href="|/board/free/${post.id}|"></a> </td>
        <td class="postlist-writer-td" th:text="${post.writer}"> </td>
        <td class="postlist-date-td" th:text="${post.date}"> </td>
        <td class="postlist-hit-td" th:text="${post.hit}"> </td>
      </tr>
      </tbody>
    </table>


    <div>

    </div>
    <div class="d-flex justify-content-center w-100 my-2" style="width: 500px; height: 40px">
      <form name="searchForm" id="searchForm"
            th:action="@{'/board/free/search'}" method="get"
            class="d-flex justify-content-center">

          <select name="searchType" id="searchType"
                  class="form-select mx-1"
                  style="width: 100px;">
            <option value="TITLE">제목</option>
            <option value="CONTENT">내용</option>
            <option value="TITLEORCONTENT">제목+내용</option>
            <option value="WRITER">작성자</option>
          </select>

          <input name="searchKeyword" id="searchKeyword"
                  type="text" class="form-control"
                 placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">

          <div class="mx-1">
            <button class="btn btn-outline-secondary p-0"
                    type="submit"
                    style="height: 100%; width: 50px;"
                    id="button-addon1">검색</button>
          </div>
      </form>
    </div>


    <!-- 페이징 처리 -->
    <nav aria-label="Page navigation example">
      <div th:object="${pageViewDTO}">
        <ul class="pagination justify-content-center">
          <li class="page-item"
              th:classappend="*{page == 1} ? 'disabled'">
            <a class="page-link" th:href="@{free(page=*{page}-1)}" tabindex="-1">Previous</a>
          </li>

          <th:block th:each="page : *{prevPageList}">
            <li class="page-item"><a class="page-link" th:href="@{free(page=${page})}" th:text="${page}">1</a></li>
          </th:block>

          <li class="page-item"><a class="page-link disabled" th:text="*{page}"></a></li>

          <th:block th:each="page : *{nextPageList}">
            <li class="page-item"><a class="page-link" th:href="@{free(page=${page})}" th:text="${page}">1</a></li>
          </th:block>

          <li class="page-item"
              th:classappend="${#lists.size(pageViewDTO.nextPageList) == 0} ? 'disabled'">
            <a class="page-link" th:href="@{free(page=*{page}+1)}">Next</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>